body{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Holtwood One SC', sans-serif;
}

.main-title{
    color: yellowgreen;
    font-size: 60px;
}

h2{
        color: yellowgreen;
        font-size: 60px;
}

a{
    color: yellowgreen;
    font-size: 20px;
}

.underline-title
 {
     background-color: orange;
     height: 10px;
     border-radius: 10px;
     width: 770px;
 }


 .main-form{
    display: flex;
    justify-content: flex-start;
    border: 3px solid yellowgreen;
    border-radius: 10px;
    margin-top: 40px;
}


.main-form button, .main-form select{
margin: 10px;
background-color: lightgrey;
color: black;
border-radius: 5px;
}

.main-form label{
    margin: 10px;
    background-color: none;
    color: white;
    }

.main-content{
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

#sudokuBoard{
    margin: 50px;

}

.errorMessage{
    color: red;
    margin-top: 20px;
    padding: 10px;
}

.sudokuRow{
    display: flex;
}

.sudokuColumn{

}

#sudokuBoard input{
    display: block;
    border: 1px solid black;
    color: black;
    /* width: 30px;
    height: 30px; */
    margin: 0px;
    text-align: center;
    background-color: lightgrey;

}

#sudokuBoard input:focus { 
    outline: 0;
    background-color: burlywood;
 }

 .sudokuColumn:nth-child(3n) { 
    border-right: 4px solid black;
 }

 #sudokuBoard .sudokuRow:nth-child(3n) { 
    border-bottom: 4px solid black;
 }


 #sudokuBoard .sudokuRow:last-of-type input{
    border-bottom:6px solid orange;
}

#sudokuBoard .sudokuRow:first-of-type input{
    border-top:6px solid orange;
}

#sudokuBoard .sudokuRow .sudokuColumn:last-of-type input{
    border-right:6px solid orange;
}

#sudokuBoard .sudokuRow .sudokuColumn:first-of-type input{
    border-left:6px solid orange;
}

#stopWatch
{
   margin-top: 30px;
   margin-bottom: 30px;
   border: 4px solid yellowgreen;
   border-radius: 100%;
   width: 350px;
   height: 350px;
   color: yellowgreen;
   margin: 100px;
   text-align: center;
   display:flex;
   flex-direction: column;
   justify-content:space-evenly;
   align-items: center;
}



.stopWatchText
{
   display:block;
   /* padding-top:20%; */
   background: none;
   font-size: 30px;
}

#breakBtn{
    border: 2px solid yellowgreen;
    line-height: ;
    display: inline;
    width: 40%;
    height: 10%;
    padding: 10px;
    border-radius: 1em;
    /* margin: auto; */
}

/*PARTIE FOOTER*/

.Footer-nav{
    height:60px;
    background:rgb(80, 80, 80);
    
    }
    
    .Footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .Footer-nav__list1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 5px;
        flex:1;
    
    }
    
    .Footer-nav__list2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px;
        flex:1;
    
    }
    
    .Footer-nav__item{
        margin:10px 30px;
        font-size: 1.1em;
        font-weight: normal;
        color: white;
    }
    
    .Footer-social-icon{
        font-size: 30px;
    }


