body{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Holtwood One SC', sans-serif;
}

div{
    display: flex;
}
h1{
    
    color: yellowgreen;
    font-size: 60px;
}

form{
    display: flex;
    justify-content: flex-start;
    border: 3px solid yellowgreen;
    border-radius: 10px;
    margin-top: 40px;
}

input, select{
margin: 10px;
background-color: lightgrey;
color: black;
border-radius: 5px;
}

label{
    margin: 10px;
    background-color: none;
    color: white;
    }

    ul > label{
        margin: 10px;
        background-color: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        }

    dialog{
        border-radius: 10px;
    }
input[value="Générer"]{
    width: 80px;
}

input[type="button"],button{
    color: black;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
}

input[type="button"]:hover, button:hover{
    color: black;
    border-radius: 5px;
    background-color: yellowgreen;
    cursor: pointer;
}

td > input{
    width: 30px;
    height: 30px;
    border: none;
    margin: 0px;
    text-align: center;
    background-color: lightgrey;
    color: black;
}

td >input:focus { 
    outline: 0;
    background-color: burlywood;
 }

 h1
 {
margin-bottom: 0%;
 }

 

 #souligneTitre
 {
     background-color: orange;
     height: 10px;
     border-radius: 10px;
     width: 770px;
 }

 #chrono
 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid yellowgreen;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    color: yellowgreen;
    
    text-align: center;
    display:inline-block;
}

#chrono > p
{
    display:block;
    padding-top:20%;
    background: none;
    font-size: 30px;
}



table{
margin-top: 30px;
width: 30%;
height: 350px;
display: flex;
}

tbody{
    display: none;
}

p
{
    heigh:200px;
background-color: red;
}


td{
    background-color:grey;
    border: 1px solid black;
    color: black;
}


table{
    border-collapse: collapse;
    
}

tr:first-of-type{
    border-top: 4px solid yellowgreen;
    background-color:grey;
}


tr:nth-child(3n){
    border-bottom: 4px solid black;
}

tr:last-of-type{
    border-bottom: 4px solid yellowgreen;
}
    
td:first-of-type{
    border-left: 4px solid yellowgreen;
}

td:nth-child(3n){
    border-right: 4px solid black;
}

td:last-of-type{
    border-right: 4px solid yellowgreen;
}



