<%- include('./partials/header'); %>

    <div class="div404">

        <h2>Erreur 404! <br>L'url demandée n'existe pas!</h2>

        <p class="div404__lien"><a class="lienAccueil404" href=<%=baseUrl + '/sudoku' %>>Retour sur la page
                d'accueil</a></p>

        <%- include('./partials/footer') %>

    </div>

    </body>