<%- include('./partials/header') %>

    <%- include('./partials/playerForm') %>

        </main>

        <script src="/js/app.js" charset="utf-8"></script>

        <%- include('./partials/footer'); %>