:root {
    --color1: orange;
    /* fond soulignement et bordure */
    --color2: lightgrey;
    /* rgb(39, 39, 39);  background principal */
    --color3: black;
    /* yellowgreen;   titres et bordures */
    --color4: rgb(80, 80, 80);
    /* background secondaire*/
    --color5: white;
    /* lightgrey;  background secondaire */
}

html {
    font-size: 62.5%;
    /* equals 1rem = 1rem*/
}

* {
    /* box-sizing: border-box; */
}

body {
    display: flexbox;
    flex-direction: column;
    background-color: var(--color2);
    font-family: 'Holtwood One SC', sans-serif;
    margin: 5px 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.globalMenu {}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header--Login {
    display: block;
    margin: 20px;
    font-size: 50px;
    color: var(--color3);

}



.main-title {
    color: var(--color3);
    font-size: 60px;
    text-decoration: none;
    /* text-align: center; */
}

h2 {
    color: var(--color3);
    font-size: 60px;
}

.menuBurger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: none;
    margin-top: 8px;

}

.menuBurger--list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: var(--color4);
    padding: 10px;

}

.menuBurger--option {
    margin-left: 10px;
    color: var(--color1);
    text-decoration: none;
}

#toggleDayNight {
    width: 50px;
}

.toggleDayNightIcon {
    color: white;
}

.form__consigne {

    font-size: large;
    line-height: 25px;
}

.form__btn {
    padding: 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    border-radius: 0.3em;
    height: 60%;
    margin: 10px;
    background-color: var(--color5);
    color: black;
    border-radius: 5px;
    display: block;
    font-family: arial, monospace;

}

.form__btn--admin {
    background-color: var(--color1);
}

.form__btn--api {
    background-color: var(--color1);
    justify-self: flex-end;
}


.underline-title {
    background-color: var(--color1);
    height: 10px;
    border-radius: 10px;
    /* width: 100vw; */
}

.main-form {
    display: flex;
    justify-content: flex-start;
    border: 3px solid var(--color3);
    border-radius: 10px;
    margin-top: 40px;
    background: var(--color4);
    padding: 10px;
}


.main-form button,
.main-form select {}

.main-form label {
    margin: 10px;
    background-color: none;
    color: white;
}

#newChrono {
    display: none;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

#sudokuBoard {
    margin: 50px;

}

.errorMessage {
    color: red;
    margin-top: 20px;
    padding: 10px;
    width: 410px;
    /*si cette largeur est trop grande alors les bordures
    de lignes de la grille sudoku déborde et c'est très moche, à modifier
    car cela reste très manuel */
}

.sudokuRow {
    display: flex;
}

.sudokuColumn {}

#sudokuBoard input {
    display: block;
    border: 1px solid black;
    color: black;
    margin: 0px;
    text-align: center;
    background-color: var(--color5);

}

#sudokuBoard input:focus {
    outline: 0;
    background-color: burlywood;
}

.sudokuColumn:nth-child(3n) {
    border-right: 4px solid black;
}

.sudokuColumn:nth-child(9) {
    border-right: none;
}

#sudokuBoard .sudokuRow:nth-child(3n) {
    border-bottom: 4px solid black;
}

#sudokuBoard .sudokuRow:nth-child(9) {
    border-bottom: none;
}



#sudokuBoard .sudokuRow:last-of-type input {
    border-bottom: 6px solid var(--color1);
}

#sudokuBoard .sudokuRow:first-of-type input {
    border-top: 6px solid var(--color1);
}

#sudokuBoard .sudokuRow .sudokuColumn:last-of-type input {
    border-right: 6px solid var(--color1);
}

#sudokuBoard .sudokuRow .sudokuColumn:first-of-type input {
    border-left: 6px solid var(--color1);
}

#stopWatch {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid var(--color3);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    color: var(--color3);
    margin: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color4);
}

.stopWatchText {
    display: block;
    background: none;
    font-size: 30px;
}

#breakBtn {
    border: 2px solid var(--color1);
    display: inline;
    width: 40%;
    height: 10%;
    padding: 10px;
    border-radius: 1em;

}

/* PAGE DATABASE ADMIN */

.inputAdmin {
    display: block;
    border: 3px solid var(--color1);
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    height: 30%;
    margin: 10px;
    background-color: var(--color5);
    color: black;
    border-radius: 5px;
    font-family: arial, monospace;
    width: 80px;
    text-align: center;
}


.tableDatabase {

    border: 3px solid var(--color3);
    border-radius: 10px;
    margin-top: 40px;
    background: var(--color4);
    padding: 10px;
    background-color: var(--color5);
    margin-bottom: 100px;
    /* position: relative; */

}

.tableRow {
    background: var(--color4);
    background-color: var(--color5);
    border: 1px solid black;
    border-collapse: collapse;
}

.tableHeadCells {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    position: sticky;
    top: 0;
    color: white;
    background-color: var(--color4);
}

.tableCells {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.deleteBtn {
    background: rgb(241, 137, 137);
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 11px;
    padding: 2px;
    border: 2px solid black;
}

/* PAGE LOGIN */

.login_création {
    color: var(--color3);

}

/* SPECIFIQUE 404 */

.div404 {
    font-family: sans-serif;
    border: 4px solid var(--color1);
    border-radius: 20px;
    padding: 50px;
    width: 60%;
    margin: 90px auto;
    text-align: center;
    background: var(--color4);
}

.div404__lien {
    margin-top: 30px;
}

.lienAccueil404 {
    color: var(--color1);
}

.mainDivLogin {
    border: 4px solid var(--color3);
    color: var(--color3);
    border-radius: 20px;
    padding: 30px 60px 30px 60px;
    margin: 90px auto 20px auto;
    text-align: center;
    background: var(--color4);
    font-family: 'Holtwood One SC', sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormLabel {

    margin-right: 20px;
    display: inline-block;
    width: 110px;

}

.loginFormInput {

    background: none;
    border-radius: 8px;
    border: 2px solid var(--color1);
    background: none;
    padding: 5px;
    color: white;
    font-weight: bold;

}

.loginBtnBar {
    display: flex;

}

.loginFormBtn {

    color: var(--color3);
    font-family: 'Holtwood One SC', sans-serif;
    border-radius: 7px;
    margin: 20px 10px 0 10px;
    display: block;
    padding: 6px 15px 6px 15px;
    background: none;
    border: 2px solid var(--color1);

}

.loginFormBtnDelete {

    color: white;
    font-family: 'Holtwood One SC', sans-serif;
    border-radius: 7px;
    margin: 20px 10px 0 10px;
    display: block;
    padding: 6px 15px 6px 15px;
    background: red;
    border: 2px solid var(--color1);
}

.loginCreation {
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: underline;
    display: block;
}

.loginMessage {
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    color: black;
    font-weight: bold;
    display: inline-block;
}

.loginCreationMessage {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}

.createLoginMessage {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    color: red;
}


.loginFormDiv {

    text-align: left;
    background: none;

}

.loginFormSousDiv {

    margin-top: 10px;

}

/*PARTIE FOOTER*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid var(--color1);
    font-family: 'Holtwood One SC', sans-serif;
}

.Footer-nav {
    height: 60px;
    background: var(--color4);

}

.Footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Footer-nav__list1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    flex: 1;

}

.Footer-nav__list2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    flex: 1;

}

.Footer-nav__item {
    margin: 10px 30px;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.Footer-social-icon {
    font-size: 30px;
    color: white
}

.mentions_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgb(197, 197, 197, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.mentions_modal_inside_div {
    border: 0.1rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color2);
    padding: 2rem 5rem;
    width: 65%;
    height: 60%;
}


.mentions_modal__title {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--color3);
}

.mentions_modal__text {
    height: 100%;
    text-align: left;
    font-size: 1.8rem;
    vertical-align: top;
    margin: 2rem 0;
    padding: 1rem;
    border: 0.1rem solid black;
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: var(--color4);

}

.mentions_modal__text>p {
    color: var(--color5);
    /* color: black; */
    font-size: 1.8rem;
}

.mentions_modal__text>p>a,
.mentions_modal__text>ul,
.mentions_modal__text>ul>li>a {
    /* text-decoration: none; */
    color: var(--color5) !important;
}


.mentions_modal__retour {
    font-weight: bold;
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 1rem auto;
    width: 10rem;
    display: block;
    text-align: center;
    background: orange;
    color: white;
    border: 0.1rem solid orange;
}

.mentions_modal__retour:hover {
    background: white;
    color: orange;
    transition: all 0.3s ease;
    cursor: pointer;
}

.ql-size-large {
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--color3);
}

/* to replace the size built buy the app.js script */

.sudokValues {
    width: 40px;
    height: 40px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width:1280px) {

    body {
        align-items: center;

        position: relative;
    }

    main {
        align-items: center;

    }


    .header {
        width: 80vw;
        margin: auto;
    }

    .globalMenu {}

    .underline-title {
        /* margin-top: 1rem; */
    }

    .main-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .header--Login {
        font-size: 2.5rem;
        text-align: right;
        align-self: flex-end;
    }

    .menuBurger--list {
        justify-content: center;
    }


    .main-form {
        flex-wrap: wrap;
        width: 85vw;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }

    .main-form label {
        margin: 0.5rem 0 5px 0;
    }

    .form__consigne {
        text-align: center;
        font-size: 1.5rem;
        line-height: normal;
    }

    .form__btn {
        font-size: 1rem;
        padding: 0.3rem;
        width: 49%;
        height: 3.1rem;
        text-align: center;
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__btn--admin,
    .form__btn--api {
        width: 70%
    }

    #newChrono {
        display: none;
    }

    .main-content {}

    #sudokuBoard {
        margin: 0.5rem auto;
        width: 90vw;
        /* height: 10vh; */
    }


    .sudokuRow {
        justify-content: center;
        width: 90vw;
    }

    .sudokValues {
        width: 33px;
        height: 33px;
    }

    #copyright,
    #planitools,
    #github {
        display: none;
    }

    .errorMessage {
        margin-top: 10px;
    }

    .footer_compensation {
        height: 6rem;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .Footer-nav__list1 {
        order: 2;
        flex-grow: 1;
        justify-content: center;
    }

    .Footer-nav__list2 {
        justify-content: flex-start;
        flex-grow: 0;
    }

    .Footer-nav__item {
        font-size: 0.8rem;
        margin: 10px 20px;
    }

    #legal_notice {
        width: 3rem;
    }

    /* DEBUT MENTION LEGALE */

    .mentions_modal_inside_div {
        height: 70vh;
        width: 80vw;
        padding: 1rem;

    }

    .mentions_modal__text {
        /* height: 90vh; */
        width: 90%;
        margin: auto;
    }


    /* FIN MENTION LEGALE */

    .loginFormLabel {
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 50vw;
    }

    .loginFormInput {
        width: 65vw;
    }

    .loginFormBtn {
        font-size: 2.1rem;
    }

    .mainDivLogin {
        margin: 5rem auto 1rem auto;
        padding: 2rem 0 2rem 2.5rem
    }


}
