<%- include('./partials/header'); %>

    <%- include('./partials/DataBaseForm'); %>

        <!-- Boucle for à mettre -->

        <div>

            <table class='tableDatabase'>

                <thead>
                    <tr>
                        <th class="tableHeadCells">N° de ligne</th>
                        <th class="tableHeadCells">N° ID Grille</th>
                        <th class="tableHeadCells">N° dans la grille</th>
                        <th class="tableHeadCells">Actions</th>
                    </tr>

                </thead>

                <tbody>
                    <tr class="tableRow">
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table
                            bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
                        <td class="tableCells"><button class="deleteBtn">Supprimer</button></td>
                    </tr>
                    <tr class="tableRow">
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table
                            bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table
                            bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table body</td>
                        <td class="tableCells">The table
                            bodyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
                    </tr>

                </tbody>


            </table>

        </div>

        <%- include('./partials/footer') %>

            </body>