<%- include('./partials/header'); %>

    <%- include('./partials/DataBaseForm'); %>

        <!-- Boucle for à mettre -->

        <table>

            <thead>
                <tr>
                    <th colspan="2">The table header</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>The table body</td>
                    <td>with two columns</td>
                </tr>

            </tbody>


        </table>



        <%- include('./partials/footer') %>



            </body>