<%- include('./partials/header') %>


    </main>

    <script src="/front/sudoku.js" charset="utf-8"></script>
    <!-- à enlever une fois que je serai en architecture client/serveur, il s'agit d'un programme serveur -->
    <script src="/js/app.js" charset="utf-8"></script>

    <%- include('./partials/footer'); %>