<form class="main-form">

    <label class="form__consigne" for="level-selection">NB GRILLES EN BASE</label>
    <span> 100 </span>

    <label class="form__btn" id="nbGrillesLabel" for="nbGrilles">Nb de grilles à génerer</label>
    <input class="form__btn" type="value" name="nbGrilles" id="nbGrilles">
    <button class="form__btn" id="dataGeneratorBtn">Générer</button>

</form>