<form class="main-form">

    <label for="level-selection">Choisir un exercice</label>

    <select id="level-selection">
        <option>Facile1</option>
        <option>Facile2</option>
        <option>Moyen</option>
        <option>Difficile</option>
        <option>Démoniaque</option>
    </select>

    <button id="loadExerciceBtnElt">Charger Exercice</button>
    <button type="button" id="emptyBoardBtnElt">Vider la grille</button>
    <button id="solveBoardBtn">Résoudre la grille</button>
    <button id="newChrono">Lancer un chrono</button>
    <input type="checkbox" name="autoCheck" id="autoCheck" style="display: none;">
    <label id="autoCheckLabel" for="autoCheck" style="display: none;">Live Correction</label>

</form>